.nav{
    border: 1px solid red;
    background-color: aqua;
    margin: 25px 50px 75px 100px;
}   

.main{
    border: 1px solid blue;
    background-color: chartreuse;
    margin: 25px 50px;
}

.article{
    border: 1px solid black;
    background-color: aqua;
    margin: 25px 50px;
}

.footer{
    border: 1px solid red;
    width: 300px;
    margin: auto;
}