div{
    float: left;
    margin: 1px ;  
    width: 33%;


}


.div1{
    background-color: red;

}

.div2{
    background-color: yellow;

}


.div3{
    background-color: green;
}