*{
    margin: 0;
    padding: 0;
}

main{
    max-width: 1300px;
    margin: 20px;
    padding: 5px;
}

nav{
    border: 5px solid black;
    background-color: bisque;
    height: 50px;
    display: flex;

}


.Primeiro{
    display: flex;

}

.caixa1, .caixa2{
    border: 5px solid black;
    background-color: bisque;
    height: 300px;
    width: 50%;
    margin-top: 20px;
    
}



.texto, .texto2{
    font-size: 30px;
    margin: 20px;
    width: 50%;
}

.Segundo{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}


