.grid{
    display: grid;

}

.coluna1{
  
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px;
}

.coluna2{
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}


.item{
    background-color: chartreuse;
    margin: 5px;
}